body {
    footer {
        font-family: map-get($estilos, fuente);
        div {
            div {
                background-color: map-get($estilos, color);
                font-size: map-get($estilos, fuente);
                div {
                    a {
                       img {
                            transition: 300ms;
                            &:hover{
                                transform: scale(1.10);
                            
                            }
                        }
                    }
                }
            }
        }
    }
}