$colorPrimario: rgb(226, 79, 0);
$colorSecundario: black;

$estilos: (
    color: rgb(226, 79, 0),
    color2: rgb(12, 49, 180),
    color3: rgb(214, 16, 49),
    fuente: 20px,
);

$estilos2: (
    color: rgba(0, 0, 0, 0.702),
);

$estilos3: (
    color: rgb(210, 26, 143),
);

.estilos4 {
    background-color: map-get($estilos2, color);
    font-size: map-get($estilos, fuente);
}

.textocolor {
    color: blue;
    font-size: 16px;
}

.textocolor--2 {
    @extend .textocolor;
    color: rgb(203, 24, 203);
}

@mixin texto($color_fuente, $tamano_fuente) {
    color: $color_fuente;
    font-size: $tamano_fuente;
}

.letracontacto {
    @include texto(rgb(232, 56, 7), 18px);
    background-color: rgb(18, 7, 7);
}