#maincontacto {
    background-color: $colorSecundario;
    section {
        div {
            button{
                background-color: rgb(226, 79, 0);
                border-color: rgb(226, 79, 0)
            }
        }
    }
}